<div class="container">
  <div class="item item1">
    <fieldset class="fieldset">
      <legend>Add New Brand</legend>
      <input type="text" title="Enter brand">
      <button class="success button tiny">Add</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Delete Brand</legend>
      <select  multiple title="brands">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
        <option value="">5</option>
      </select>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit model</legend>
      <select  multiple="multiple" size="3" title="brands"></select>
      <select  multiple="multiple" size="3" title="models"></select>
      <input type="text" title="models">
      <button class="success button tiny">Edit</button>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>New model</legend>
      <select  multiple="multiple" size="3" title="brends"></select>
      <select  multiple="multiple" size="3" title="models"></select>
      <input type="text" title="models">
      <button class="success button tiny">Add</button>
    </fieldset>
  </div>
  <div class="item item2">
    <fieldset class="fieldset">
      <legend>New Company</legend>
      <input type="text" title="add company">
      <button class="success button tiny">Add</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit Company</legend>
      <select  multiple="multiple" size="3" title="companies"></select>
      <input type="text" title="company">
      <button class="success button tiny">Edit</button>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit Media</legend>
      <select  multiple="multiple" size="3" title="media"></select>
      <input type="text" title="media">
      <button class="success button tiny">Edit</button>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <!--<fieldset class="fieldset">
      <legend></legend>
    </fieldset>-->
  </div>
  <div class="item item3">
    <fieldset class="fieldset">
      <legend>New person</legend>
      <input type="text" title="add person">
      <button class="success button tiny">Add</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit person</legend>
      <select  multiple="multiple" size="3" title="persons"></select>
      <input type="text" title="person">
      <button class="success button tiny">Edit</button>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Add category</legend>
      <select  multiple="multiple" size="3" title="categories"></select>
      <input type="text" title="category">
      <button class="success button tiny">Edit</button>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <!--<fieldset class="field">
      <legend></legend>
    </fieldset>-->
  </div>
  <div class="item item4">
    <fieldset class="fieldset">
      <legend>Assoc Brand</legend>
      <input type="text" title="add assoc brend">
      <select  multiple="multiple" size="3" title="assoc brends"></select>
      <button class="success button tiny">Add</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Assoc Model</legend>
      <input type="text" title="add assoc model">
      <select  multiple="multiple"  title="brends"></select>
      <select  multiple="multiple"  title="models"></select>
      <button class="success button tiny">Add</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Assoc Company</legend>
      <input type="text" title="add assoc company">
      <select  multiple="multiple"  title="companies"></select>
      <button class="success button tiny">Add</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Assoc Person</legend>
      <input type="text" title="add person">
      <select  multiple="multiple" title="persons"></select>
      <button class="success button tiny">Add</button>
    </fieldset>
  </div>
  <div class="item item5">
    <fieldset class="fieldset">
      <legend>Edit brand</legend>
      <select  multiple="multiple" size="3" title="brends"></select>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit model</legend>
      <select  multiple="multiple" size="3" title="models"></select>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit  Company</legend>
      <select  multiple="multiple" size="3" title="companies"></select>
      <button class="success button tiny">Delete</button>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Edit Person</legend>
      <select  multiple="multiple" size="3" title="persons"></select>
      <button class="success button tiny">Delete</button>
    </fieldset>
  </div>
</div>
